.carousel-img {
  max-height: 600px;
  object-fit: cover;
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}

.product .card-img-top {
  height: auto;
}

.settings {
  min-width: 240px;
}

.navbar {
  z-index: 4;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: 400px;
  z-index: 2;
  padding: 100px 50px 0;
  
}

.sidebar-link {
  color: #444;
}

.sidebar-link:hover {
  color: #000;
}

.form-select option:first-of-type{
    color:#ccc;
}

.product-image {
  width: 400px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body a {
  margin-top: auto;
}
